html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: font-family: 'Montserrat', sans-serif;;
}
.w3l-top-header {
    background-color: #4867b0;
    padding: 14px 15px;
    margin-left: ;
}
.w3l-top-header .top-headers li {
    display: inline-block;
    margin-right: 2em;
}
.w3l-top-header .top-headers li a, .w3l-top-header .top-headers li {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    transition: all;
}
.w3l-top-header .top-headers ul {
    margin-bottom: 0 !important;
}
.w3l-top-header .top-headers li a:hover {
    color: #ff6e65;
    text-decoration: none;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.w3l-top-header .top-headers li i {
    margin-right: 8px;
}
/* <!-- 1.right-sidebar --> */
.pull-right-demo-bar {
    float: right;
    position: fixed;
    right: 0;
    top: 150px;
    width: 9-px;
    z-index: 99999;
    text-align: center;
}
.toggle-right-sidebar i {
    background: #0D1326;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #e6ebff;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
    opacity: 0.5;
}
#right-sidebar {
    width: 90px;
    position: fixed;
    z-index: 1000;
    right: 0;
    top:0;
    margin-top: 140px;;
    transition: all 0.5s ease-in-out;
    overflow-y: auto;
}
#w3lDemoBar.w3l-demo-bar {
    padding: 40px 5px 10px;
    padding-top: 70px;
    background: #0D1326;
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
}
#w3lDemoBar.w3l-demo-bar .demo-btns {
    border-top: 1px solid #41414d;
    padding-top: 30px;
}
#w3lDemoBar.w3l-demo-bar a {
    display: block;
    color: #e6ebff;
    text-decoration: none;
    line-height: 24px;
    opacity: 0.6;
    margin-bottom: 20px;
    text-align: center;
    transition: all 0.5s;
}
#w3lDemoBar.w3l-demo-bar a:hover {
    opacity: 1;
}
#w3lDemoBar.w3l-demo-bar span.w3l-icon {
    display: block;
}
#w3lDemoBar.w3l-demo-bar span.w3l-icon  i {
    position: static;
    color: #e6ebff;
}

/* header */
header.nav-fixed {
    padding: 0!important;
    border-bottom: none;
    z-index: 99!important;
    background-color: #fff!important;
    box-shadow: ow: 0 3px 6px 0 rgba(0, 0, 0, 0.05)!important;
    height: 70px!important;
}
.fixed-top {
    position: sticky;
    top: 0;
    right:0;
    left: 0;
    z-index: 1030;
}
header.main-header {
    background-color: transparent;
    padding: 0;
    height: 90px;
    display: grid;
    align-items: center;
    transition: all 0.4s ease 0s;
}
header .navbar h1 a {
    color: #0d369f;
    font-size: 26px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 1px;
    transition: all 0.5s;
}
header .navbar h1 a:hover {
    color: #ff6e65;
}
.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 12px;
    transition: all 0.5s ease;
    position: relative;
}
#primary-menu .nav-link{
    font-size: 16px;
    color: black;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: all 0.5s;
}
#primary-menu .nav-link:hover {
    color: #ff6e65;
}
#primary-menu .nav-link {
    position: relative;
}
#primary-menu .dropdown-menu {
    position: absolute;
    top: 83%;
    left: -22px;
}

#primary-menu .dropdown-menu::before {
    content: "";
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -8px;
    left: 40%;
    z-index: 1000;
}
#primary-menu .dropdown-item {
    font-size: 16px;
    color: black;
    font-weight: 600;
    letter-spacing: 0.5px;
    background: white;
    border: 1px solid transparent; 
    box-shadow:rgba(255, 255, 255, 0.2);
    transition: all 0.5s;
}
#primary-menu .dropdown-item:hover {
    color: #ff6e65;
}
.dropdown-toggle::after {
    content: "";
    position: absolute;
    right: -3px;
    top: 20px;
    display: inline-block;
 
}

#primary-menu .active .nav-link {
    color: #ff6e65;
}
.navbar form.search-box input {
    font-size: 15px;
    background: transparent;
    padding: 10px 35px 10px 20px;
    width: 100%;
    border-radius: 30px;
    border: 2px solid #eee!important;
    position: relative;
}
button.search-btn {
    position: absolute;
    color: #0d369f;
    right: 0;
    top: 10px;
    padding: 0 20px 0 0;
    transition: all 0.5s;
}
button.search-btn :hover {
    color: #ff6e65;
}


/* <!-- 4.HomePage Banner Slider --> */
#home .banner-top1{
    background-image:url(../img/banner21.jpg );
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top right;
  }
 #home .banner-top2{
    background-image:url(../img/banner31.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center right;
  }

.w3l-main-slider .companies20-content {
    position: relative;
}
.w3l-main-slider .banner-info-bg h5 {
    font-size: 70px;
    line-height: 80px;
    font-weight: bold;
    color: #fff;
}
.w3l-main-slider .banner-info-bg {
    max-width: 600px;
}
.w3l-main-slider .banner-top1,.w3l-main-slider .banner-top2 {
    background-size: cover;
}
.w3l-main-slider .banner-view {
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
    padding: 3rem 0;
    min-height: 90vh;
}
/* .w3l-main-slider .banner-view::before {
    content: "";
    background: linear-gradient(75deg, rgb(16 16 16 / 34%) 10%, rgb(230 2 100 / 0%));
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: 1;
} */
#home li {
    list-style-type: none;
}
.btn-style {
    padding: 14px 30px;
    font-weight: 600!important;
    font-size: 16px;
    color: #060606;
    border-radius: 4px;
    background: #fff;
    border: none;
    transition: all .25s ease-in-out;
}

.btn-style:hover {
    color: #fff;
    background: #ff6e65;
}
body a, button, .btn {
    cursor: pointer!important;
}
#home .owl-dots {
    position: absolute;
    right: 24px;
    bottom: 120px;
    background: none;
}
#home .owl-theme .owl-dots .owl-dot {
    display: block;
    zoom: 1;
    background: transparent!important
    ;
}
#home .owl-theme .owl-dots .owl-dot span {
    width: 12px!important;
    height: 12px!important;
    margin: 5px 2px!important;
    background: #fff!important;
    display: block!important;
    transition: opacity 0.2s ease!important;
    border-radius: 30px!important;
    position: relative!important;
}
#home .owl-theme .owl-dots .owl-dot.active span,#home .owl-theme .owl-dots .owl-dot:hover span {
    background: #ff6e65!important;
}
/* 5.HomePage Features */
.w3l-bottom-grids-6 {
    position: relative;
    margin-top: -4em;
}
.justify-content-center {
    justify-content: center!important;
}
.w3l-bottom-grids-6 .area-box.color-1 {
    background-color: #0d369f;
}
.w3l-bottom-grids-6 .area-box.color-2 {
    background-color: #ffc949;
}
.w3l-bottom-grids-6 .area-box.color-2 i {
    transform: skewX(-10deg);
}
.w3l-bottom-grids-6 .area-box.color-3 {
    background-color: #ff4f81;
}
.w3l-bottom-grids-6 .area-box.color-4 {
    background-color: #1ee697;
}
.w3l-bottom-grids-6 .area-box {
    padding: 50px 35px;
    position: relative;
    z-index: 1;
    display: block;
    border-radius: 8px;
}
.w3l-bottom-grids-6 h4 a.title-head {
    margin-top: 25px;
    display: block;
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    transition: all 0.2s;
}
.w3l-bottom-grids-6 h4 a.title-head:hover {
    color: #000;
}
.w3l-bottom-grids-6 .area-box i {
    font-size: 45px;
    color: #fff;
}
/* <!-- HomePage Services -->
<!-- 6.welcome section: welcome to studious --> */
.title-heading-w3 {
    max-width: 700px;
}
h3.title-main, h3.title-main-2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    position: relative;
}
h3.title-main span {
    color: #ff6e65;
}
h3.title-main::before {
    left: -20px;
    bottom: -8px;
}
h3.title-main::after {
    left: 20px;
    bottom: -15px;
}
h3.title-main::before,h3.title-main::after {
    content: "";
    background:  #b7b7b7;
    width: 60px;
    height: 2px;
    position: absolute;
    right: 0;
    margin: 0 auto;
}
.w3l-feature-8 .feature-images span {
    color: #0d369f;
    background: rgb(168 176 195 / 11%);
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
}
.w3l-feature-8 h3.feature-titel {
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
}
.w3l-feature-8 .feature-info a{
    text-decoration: none;
    color: #060606;
    transition: all 0.2s;
}
/* body .darkmode .w3l-feature-8 h3.feature-titel {
    text-decoration: none;
    color: #fdfffc !important;
    transition: all 0.2s;
} */
.w3l-feature-8 .feature-info .feature-text{
    text-decoration: none;
    color: #707070;
    
}
.w3l-feature-8 .feature-info a:hover {
    color: #ff6e65;
}
.w3l-feature-8 p.feature-text {
    margin-top: 15px;
    color: #b7b7b7;
}
.w3l-feature-8 .feature-images .fa-book {
    transform: skewX(-10deg);
}
/* <!-- 7.cover services --> */
.w3l-homeblock1 .w3-services-ab {
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
.w3l-homeblock1 .feature-gd {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
}
.w3l-homeblock1 .icon {
    margin-right: 1em;
}
.w3l-homeblock1 .icon i {
    color: #0d369f;
    font-size: 28px;
    background: rgb(13 54 159 / 9%);
    width: 65px;
    height: 66px;
    line-height: 65px;
    text-align: center;
    border-radius: 50%;
}
.w3l-homeblock1 .icon-info h5 {
    font-size: 20px;
    line-height: 30px;
    color: #060606;
    font-weight: 600;
    margin-bottom: 6px;
}
.w3l-homeblock1 .icon-info p {
    font-size: 16px;
    line-height: 28px;
    color: #707070;
    letter-spacing: .4px;
}

/* <!-- 8.Stats section: strenght in numbers --> */
.timer {
    font-size: 46px;
    font-weight: 600;
    color: #060606;
}
p.count-text {
    text-transform: uppercase;
    color:#060606;
}

/* <!-- 9.testimonials: student community Feedback -->*/

.w3l-cutomer-main-cont .testimonials_grid {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
    padding: 2rem;
}
.testimonials_grid span {
    font-size: 22px;
    color: #ff6e65;
    line-height: 0.8;
    display: inline-block;
}
.testimonials_grid .sub-test {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.4px;
    color:  #707070;
}
.sub-author-con {
    display: grid;
}
.w3l-cutomer-main-cont .sub-author-con {
    grid-template-columns: .3fr 1fr;
    align-items: center;
    grid-gap: 5px;
    margin-top: 1.5em;
}
.w3l-cutomer-main-cont .testi_grid h5 {
    font-weight: 600;
    line-height: 16px;
}
.w3l-cutomer-main-cont .testi_grid p {
    font-size: 13px;
    color: #707070;
}
.w3l-cutomer-main-cont .testi-img-res img {
    border-radius: 50%;
}
/* <!-- 10.team section: wolrs class instructors --> */
h3.title-main, h3.title-main-2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    position: relative;
}
h3.title-main::before {
    left: -20px;
    bottom: -8px;
}
h3.title-main::after {
    left: 20px;
    bottom: -15px;
}
h3.title-main::before,h3.title-main::after {
    content: "";
    width: 60px;
    height: 2px;
    position: absolute;
    right: 0;
    margin: 0 auto;
    background: #b7b7b7;
}
h3.title-main span {
    color: #ff6e65;
}

.team-block-single {
    box-shadow: 0 20px 62px hsla(222, 34%, 17%, 1);
    padding: 10px;
    background: transparent;
    border-radius: 8px;
}
.team-block-single img{
    
    border-radius: 8px 8px 0 0;
}

.w3l-team .team-grids {
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.w3l-team .team-info {
    position: absolute;
    bottom: -227px;
    margin: 0;
    background: rgb(8 8 8 / 29%);
    padding: 20px 0;
    width: 100%;
    text-align: center;
    transition: all 0.5s;
}
.w3l-team .team-block-single:hover .team-info {
    bottom: 0;
}
.w3l-team .social-icons-section i {
    background: #fff;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    color: #4867b0;
    font-size: 14px;
}
.w3l-team .team-bottom-block h5 a{
    text-decoration: none;
    color: black;
    transition: all 0.5s;
}
 .darkmode section.w3l-team.team-bottom-block h5 a{
    color:white;
}

.w3l-team .team-bottom-block h5:hover a{
    text-decoration: none;
    color: #ff6e65;
}

/* <!-- 11.Content with Photo --> */
h3.title-style {
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
}
.w3l-about-2 p {
    color: #b7b7b7;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.4px;
}

.btn-style-secondary {
    color: #fff;
    background: #ff6e65;
    transition: all 0.5s;
}
.btn-style-secondary:hover {
    background: #4867b0!important;
}
/* <!-- 12.footer --> */

.w3l-footer-22 .footer-sub{
    padding: 80px 0;
    
    background:#060e1f;
}
/* body.darkmode.w3l-footer-22 .footer-sub.container.text-txt.right-side{
    background:#000
} */
.right-side {
    padding: 50px;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    background: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    top: -60px;
    box-sizing: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}
body.darkmode .w3l-footer-22 .right-side{
    background: #161c2d;
}


/* .w3l-footer-22 .back-ground-footer {
background:#fdfffc ;
} */
.w3l-forms-9 h4.title-head {
    font-size: 35px;
    line-height: 40px;
    font-weight: 600;
    color:#040a17;
}
body.darkmode .w3l-footer-22 .title-head{
    color: #fdfffc;
}
.w3l-forms-9 p {
    font-size: 15px;
    letter-spacing: 1px;
    color: #707070;
}
.w3l-forms-9 .rightside-form {
    display: flex;
}
.w3l-forms-9 .rightside-form input {
    background: transparent;
    padding: 15px 20px;
    font-size: 16px;
    color: #fdfffc;
    width: 100%;
    border-radius: 8px 0 0 8px;
    height: 55px;
    border: 1px solid #eee ;
}
.w3l-forms-9 .rightside-form button {
/* #4867b0 */
    background:  #0d369f;
    border: none;
    color: #fff;
    padding: 16px 30px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0 8px 8px 0;
}
.w3l-forms-9 .rightside-form button:hover {
    opacity: 0.9;
}

.w3l-footer-22 .sub-one-left h6, .w3l-footer-22 .sub-two-right h6 {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
    padding-bottom: 10px;
    font-weight: bold;
    
}
/* .w3l-footer-22.StudiousFooter{
    background:#000 ;
} */
.w3l-footer-22 .sub-columns {
    margin-top: 120px;
    /* background: #000; */
}
.w3l-footer-22 .sub-two-right ul {
    list-style: disc;
}
.w3l-footer-22 .sub-two-right ul li {
    list-style: none;
}
.w3l-footer-22 .footer-list-before-icon ul {
    margin: 0;
    padding: 0;
}
.w3l-footer-22 .footer-list-before-icon ul li a {
    position: relative;
    padding-left: 20px;
    text-decoration: none;
    transition: all 0.5s;;
}
.w3l-footer-22 .footer-list-before-icon ul li a:hover {
    color: #fff;
}
.w3l-footer-22 .footer-list-before-icon ul li a::before {
    display: inline-block;
    font-family: 'FontAwesome';
    content: "\f101";
    position: absolute;
    left: 0px;
    font-size: 13px;
    color: #fff;
}
.w3l-footer-22 .sub-two-right ul li a {
    font-size: 14px;
    line-height: 14px;
    color: #cecece;
    margin: 0 0 10px 0;
    display: block;
    text-align: left;
}
.w3l-footer-22 .column2 i {
    font-size: 18px;
    color: #fff;
    vertical-align: middle;
    margin-right: 10px;
    width: 25px;
    text-align: center;
}
.w3l-footer-22 .href2 {
    margin-top: 10px;
    padding: 10px 0;
}

.w3l-footer-22 .column2 a {
    text-decoration: none;
    color: #cecece;
    text-decoration: all 0.5s;
}
.w3l-footer-22 .column2 a:hover {
    color: #fff;
}
.w3l-footer-22 .column2 p {
    color: #cecece;
    text-decoration: all 0.5s;
}
.w3l-footer-22 .column2 p:hover {
    color: #fff;
}
.w3l-footer-22 .contact-para {
    margin-top: 10px;
}
.w3l-footer-22 .sub-one-left p, .w3l-footer-22 .sub-two-right p {
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
}
.w3l-footer-22 .columns-2 {
    margin-top: 1.2em;
}
.w3l-footer-22 ul.social {
    padding-left: 0;
}
.w3l-footer-22 ul.social li, .w3l-footer-22 ul.jst-link li {
    display: inline-block;
    margin-right: 5px;
    list-style-type: none;
}
.w3l-footer-22 ul.social li a {
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(255, 255, 255, 0.06);
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}
.w3l-footer-22 ul.social li i {
    font-size: 15px;
    color: #fff;
    transition: all 0.5s;
}
.w3l-footer-22 ul.social li a:hover i {
    color: #cecece;
}

/* copyright */
.w3l-footer-22 .copyright-footer {
    background: #040a17;
    padding: 20px 0;
}
.w3l-footer-22  .columns p {
    margin-bottom: 0;
    color: #a0a0a0;
    font-size:  15px;
}
.w3l-footer-22 .columns p a {
    font-size:  15px;
    line-height: 20px;
    color: #fff;;
}

/* goToTop button */
#movetop {
    position: fixed;
    bottom: 90px;
    right: 15px;
    z-index: 9;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    outline: none;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #0d369f;
    padding: 0;
    opacity: 1;
    transition: all 0.5s;
}
#movetop:hover {
    opacity: 0.8;
}

/* button switch for light & dark theme */
@import
url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
#theme #switch-mode {
    outline: none;
    background: none;
    border: none;
    font-size: 26px;
    font-weight: 600;
    margin-left: 2px;
    transition: all 0.5s;
}
#theme #switch-mode:hover {
    color: #ff6e65;
}
#theme #switch-mode i {
    color: #0d369f;
    font-weight: 600;
    transition: all 0.5s;
}
#theme #switch-mode i:hover {
    color: #ff6e65
}
body.darkmode #theme #switch-mode i:hover {
    color: #ff6e65
}

body.darkmode #theme #switch-mode i {
  
    color:#0d369f;
}
/* body{
    background: #fdfffc;
    color: #000;
} */
body.darkmode {
    background: #161c2d;
    color: #fff;
}
body.darkmode header.nav-fixed {
    padding: 0!important;
    border-bottom: none;
    z-index: 99!important;
    background-color: #161c2d !important ;
    box-shadow: ow: 0 3px 6px 0 rgba(0, 0, 0, 0.05)!important;
    height: 70px!important;
}
body.darkmode #switch-mode  {
    color: #fff;
}
body.darkmode .navbar-brand {
    color: #fff;
}
body.darkmode #primary-menu .nav-link{
    color: #fff;
}
body.darkmode #primary-menu .active .nav-link {
    color: #ff6e65;
}
body.darkmode #primary-menu .dropdown-menu::before {
    content: "";
    width: 14px;
    height: 14px;
    background: #27282b;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -8px;
    left: 40%;
    z-index: 1000;
}
body.darkmode #primary-menu .dropdown-item:hover {
    color: #ff6e65;
}
body.darkmode #primary-menu .nav-link:hover{
    color: #ff6e65;
}
body.darkmode #primary-menu .dropdown-menu {
    color: #fff;
    background:  #27282b;
}
body.darkmode #primary-menu .dropdown-item {
    color: #fff;
    background:  #27282b;
}
body.darkmode .btn-style:hover {
    color: #fff;
    background: #ff6e65;
}

body.darkmode #primary-menu .dropdown-menu {
    border: 1px solid rgba(255, 255, 255, 0.2);
}
body.darkmode .HomePageStats h3 {
    color: #fdfffc;
}
body.darkmode .HomePageStats p {
    color: #b7b7b7;
}
body.darkmode .HomePageStats .timer,body.darkmode .HomePageStats .count-text {
    color: #fdfffc;
}
body.darkmode .w3l-cutomer-main-cont .testimonials_grid {
    background: #161c2d;
    border-radius: 4px;
    box-shadow: 0 20px 62px hsla(222, 34%, 17%, 1);
    padding: 2rem;
}
body.darkmode .team-bottom-block h5 a{
    color: #fdfffc ;
}
body.darkmode .w3l-homeblock1 .back_ground{
    background: #161c2d;
    
}
body.darkmode .w3l-feature-8 h3.feature-titel:hover {
    color:#ff6e65;
}
body.darkmode .w3l-homeblock1 .back_ground .icon-info h5{
    color: #fdfffc;
    
}
body.darkmode .w3l-homeblock1 .back_ground .icon-info p{
    color: #fdfffc;
    
}
body.darkmode .w3l-feature-8 .feature-info a{
    color: #fdfffc;
    
}
body.darkmode .w3l-feature-8 .feature-info p{
    color: #b7b7b7;
    
}



